body
{
    color: #333;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border:  1px solid salmon;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#cabecera
{
    background-color: blue;
    box-shadow: 0px 2px 20px blueviolet;
    color: antiquewhite;
    font-size: 20px;
}
#cabecera #tagline
{
    padding: 0 0 0 1cm;
}