body
{
    color: #333;
    text-align: center;
    font-family: arial;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: gray;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border:  1px solid rgb(19, 10, 9);
    margin: 0 auto;
    background-color: white;
}
#container h1
{
    font-size: 20px;
}
#cabecera
{
    background-color: rgb(18, 18, 244);
    box-shadow: 0px 2px 20px blueviolet;
    color: antiquewhite;
    font-size: 20px;
}
#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#post
{
    background-color: white;
    padding: 1em;
}
#footer {
    background-color: rgb(43, 16, 81);
    color: white;
    text-align: center;
    padding: 0.05CM;
}